@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    @apply scroll-smooth font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-center font-bold;
  }

  p {
    @apply text-center;
  }
}

@keyframes comeFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes comeFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
